<!-- header strat main div -->
<div style="height: 650px; width:100%;" class="bg-image">
	<div style="height:80px;display: flex;">
		<div style="height:80px;width: 20%;">
			<p style="font-size: 22px;margin-top: 20px;margin-left: 30px;"><b>COZA</b> STORE</p>
		</div>
		<div style="height:80px; width: 60%;">
			<ul style="list-style-type: none; text-align: center;display: inline-flex;  font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 25px">
				<li>Home</li>
				<li>Shope</li>
				<li>Features</li>
				<li>Blog</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
			
		</div>
		<div style="height:80px; width: 20%;">
			<ul style="list-style-type: none; text-align: center;display: inline-flex;  font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 25px">
				<li style="float: right; font-size: 22px;"><i class="fa fa-search"></i></li>
				<li style="float: right;font-size: 22px;"><i class="fa fa-shopping-cart"></i></li>
				<li style="float: right;font-size: 22px;"><i class="fa fa-heart-o"></i></li>
			</ul>
			
		</div>
		
	</div>
	<div style="height:500px;width:600px;margin-left: 30px;">
		<h3 style="margin-left: 100px;margin-top: 200px;">MEN COLLECTION 2018</h3>
		<h1 style="margin-left:100px;margin-top: 20px;
		">NEW ARRIVALS</h1>
		<button style="height:40px;width:150px;background-color: #717fe0;border-radius: 15px; border: none; color: white;font-size: bolder; margin-left: 100px;margin-top: 20px;    transition: width 2s, height 2s, transform 2s;
		">Shop Now </button>
		
	</div>
	
</div>
<div style="display:flex;height:400px; width:900px;">
	<div  *ngFor="let abc of items" style="height: 300px; width:600px; margin-top: 30px; display:flex;">
		<!-- <div style="height: 100px;width: 100px;border: 2px solid darkred;">
						<p style="margin-left:40px;font-weight:bolder;">{{abc.name}}</p>
						<p>2018</p>
		</div> -->
		<img style="height: 300px; width: 250px;margin-left: 140px;" [src]="abc.image">
		
	</div>
</div>
<h1 style="font-weight: bolder;margin-left:80px;height: 40px;">PRODUCT OVERVIEW</h1>
<div style="height:120px;width:100%;">
	<div style="height:80px;width:300px;">
		<ul style="list-style-type: none; text-align: center;display: inline-flex;margin-left: 80px;  font-family: Arial, Helvetica, sans-serif;margin-top: 10px;">
			<li>Home</li>
			<li>Shope</li>
			<li>Features</li>
			<li>Blog</li>
			<li>About</li>
			<li>Contact</li>
		</ul>
		
	</div>
	
	
</div>
<div class="container">
	<div class="row">
		<div  *ngFor="let pic of pics"  class="col-md-3">
			<img style="height: 300px; width: 200px;" [src]="pic.image">
			<p style="font-weight:lighter;color:#999eba;font-family: Arial, sans-serif;">
				<a [routerLink]="'photo/'+pic.id">{{pic.title}}</a></p>
				<p>{{pic.price}}</p>
			</div>
		</div>
	</div>
	<button style="height:40px;width:150px;border-radius: 20px;margin-left: 600px;background-color: #e6e6e6;border: none;">LOAD MORE</button>
	<div style="height:500px;width:100%;background-color: #222222;margin-top: 100px;">
		<div style="height:380px;width:100%; display: flex;">
			<div style="height:200px;width:150px;margin-left: 100px;">
				<h4 style="color:white;margin-top: 20px;" >CATEGORIES</h4>
				
				<ul style="list-style-type:none; color:#92b2a9;font-family: Poppins-Regular;margin-top: 20px;">
					<li>Women</li><br>
					<li>Men</li><br>
					<li>Shoes</li><br>
					<li>Watches</li><br>
				</ul>
				
			</div>
			<div style="height:250px;width:130px; margin-left: 100px;">
				<h4 style="color: white;margin-top: 20px;">HELP</h4>
				<ul style="list-style-type:none; color:#92b2a9;font-family: Poppins-Regular;margin-top: 20px;">
					<li style="font-family: Poppins-Regular;">Track Order</li><br>
					<li style="font-family: Poppins-Regular;">Shipping</li><br>
					<li style="font-family: Poppins-Regular;">Return</li><br>
					<li style="font-family: Poppins-Regular;">FAQs</li><br>
				</ul>
				
			</div>
			<div style="height:50px;width:160px; margin-left: 200px; ">
				<h4 style="color: white;font-family: Montserrat-Bold;margin-top: 20px;">GET IN TOUCH</h4>
				<p style="color:#92b2a9;font-family: Poppins-Regular;margin-top: 20px;">Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
				<i style="color:white;" class="fa fa-facebook-square"></i>
				<i style="margin-left:10px;color:white;" class="fa fa-instagram"></i>
				<i style="margin-left:10px;color:white;" class="fa fa-pinterest-p"></i>
				
			</div>
			<div style="height:50px;width:130px;margin-left: 200px;">
				<h4 style="color: white; font-family: Montserrat-Bold;margin-top: 20px;">NEWSLETTER</h4>
				<p style="color:white; font-family: Poppins-Regular;margin-top: 20px;">email@example.com</p>
				<hr>
				<button style="height:40px;width:150px;border-radius: 20px; color: #7582e1;border: none;margin-top: 20px;">SUBSCRIBE</button>
				
			</div>
			
		</div>
		<div style="height:50px;width:100%;display: flex;">
			<div>
				<img style="height:20px;width:40px;margin-top: 20px;margin-left: 600px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcXyqtLQ_gexpplNlllSl0iZ9HkyerYeH4mQ&usqp=CAU">
			</div>
			<div>
				<img style="height:20px;width:40px;margin-top: 20px; margin-left: 10px;" src="https://storage.googleapis.com/webdesignledger.pub.network/WDL/1f4baa60-visa-logo-old.png">
			</div>
			<div>
				<img style="height:20px;width:40px;margin-top: 20px;margin-left: 10px;" src="https://www.investopedia.com/thmb/LF_8TWZPQxdvn6y0DG-bNIZT5Co=/1000x714/filters:fill(auto,1)/MClogo-c823e495c5cf455c89ddfb0e17fc7978.jpg">
			</div>
			<div>
				<img style="height:20px;width:40px;margin-top: 20px;margin-left: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcXyqtLQ_gexpplNlllSl0iZ9HkyerYeH4mQ&usqp=CAU">
			</div>
			<div>
				<img style="height:20px;width:40px;margin-top: 20px;margin-left: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcXyqtLQ_gexpplNlllSl0iZ9HkyerYeH4mQ&usqp=CAU">
			</div>
			
		</div>
		<div style="height:50px;width:100%;">
			<p style="color:#7b886e;margin-left:450px;font-family: Poppins-Regular;
			">Copyright ©2022 All rights reserved | This template is made with  by Colorlib</p>
			
		</div>
	</div>